.SuperMainDiv{
    background-color: black;
    height: 100vh;
    width: 70%;
  }
  .head{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
  }
  .SuperDiv1{
    margin-left: auto;
    margin-right: auto;
  }



  